body {
    color: gray;
    font-size: smaller;
}

.container {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;

    
}

td {
    border-bottom: 1px solid #cccccc;
    padding: 0;
    height: 80px;
    
}
#auth-image {
    border-radius: 50%;
   
}

#event1, #event2, #event3, #event4, #event5, #event6,
    #event7, #event8, #event9 {
    width: 100%;
    height: auto;
    border: none;
    color: #28a1c5;
    font-style: oblique;
    font-size: smaller;
    padding: 10px;
    
}

#event1:focus, #event2:focus, #event3:focus, #event4:focus, #event5:focus,
#event6:focus, #event7:focus, #event8:focus, #event9:focus {
    background-color: #9bd8eb;
}



#timeFrame-9,#timeFrame-10, #timeFrame-11, #timeFrame-12, #timeFrame-13,
    #timeFrame-14, #timeFrame-15, #timeFrame-16, #timeFrame-17{
    text-align: right;  
    padding: 10px;
    border-right: 1px solid #5bc0de;
}

#toSave {
    
    text-align: left;
    padding: 10px;
    border-left: 1px solid #5bc0de;

}

#intro {
    widows: 100%;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #5bc0de;
    padding: 20px;
   
}

#previous, #next {
    font-size: 40px;
    font-weight: 900;
    color: #5bc0de;
    cursor: pointer;
    
}

#next:hover, #previous:hover {
    color: gray;
}

#date {
    width: auto;
    font-size: 20px;
    font-weight: 500;

}

.scrollDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}








